@model Product

@{
	Layout = "_Layout";
}

<div>
	<div style="display: flex; align-items: center; justify-content: space-between;">
		<h2>@Model.Name</h2>
		<div style="font-size: 1.7rem;">
			@Model.Price
		</div>
	</div>
	<hr />
	<div style="display: flex;">
		<img src="~/@Model.Image" style="width: 60%;"/>
		<p style="margin-left: 1%; font-size: 1.2rem; font-weight: 500;">
			@Model.Description;
		</p>
	</div>
	<div style="margin-top: 1%;">
		@if(Context.User.Identity.Name != null){
			<a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" asp-route-user="@User" class="btn btn-success">Add To Cart</a>
		}
		else{
			<a asp-controller="Home" asp-action="Login" class="btn btn-primary">Log in to Add to cart</a>
		}
	</div>
</div>
